<%- include('../partials/header') %>

    <a href="/">Home</a> | <a href="/skills">Skills List</a>
    <h1>Edit Skill</h1>
    
    <form action="/skills/<%= skill.skill %>?_method=PUT" method="POST" autocomplete="off">
        <h3>Skill description:
            <input 
                type="text" name="skill"
                value="<%= skill.skill %>"
            >
        </h3>
        <h3>
            <label> Has?
                <input type="checkbox" name="has" <%= skill.has ? 'checked' : '' %>>
            </label>
        </h3>
       
        <button type="submit">update skill</button>
    </form>
    <br>
    <a href="/skills/<%= skill.skill %>">cancel</a>

<%- include('../partials/footer') %>
